<div class="block p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100">
    <div class="flex items-center justify-between">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{post().title}}</h5>
        <div class="flex items-evenly gap-4">
            <strong class="text-gray-900 text-sm bg-gray-400 p-1 rounded-xl">{{post().team}}</strong>
            <p class="text-sm text-gray-900">{{post().author}}</p>
            <p class="text-sm text-gray-900">{{post().created_at | date:'M/d/yy h:mm' }}</p>
        </div>
    </div>
    @if(this.detail()){
        <p class="font-normal text-gray-700">{{post().content}}
        </p>
    } @else{
        <p class="font-normal text-gray-700">{{post().excerpt}}
            @if(post().excerpt !== post().content ){
            <a class="text-blue-700 underline" [routerLink]='"post/" + post().id'>Read more</a>
            }
        </p>
    }
    <div class="flex items-center justify-between mt-4">
        <div class="flex items-center gap-10">
            <div class="flex relative items-center gap-2">
                <p>{{post().likes}} Likes</p>
                <svg (click)="togglePopup(); getLikes()" xmlns="http://www.w3.org/2000/svg"
                    class="w-5 h-5 ml-2 -mr-1 relative" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M6.293 9.293a1 1 0 011.414 0L10 11.586l2.293-2.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                        clip-rule="evenodd" />
                </svg>
                @if (openPopup()) {
                <div class="origin-left absolute left-3/5 top-6 w-auto shadow-xl bg-white ">
                    <div class="py-2 p-2">
                        @for(like of likesResponse().results; track like.id){
                        <div class="flex items-center gap-2">
                            <p class="text-sm text-gray-900">{{ like.author }}</p>
                        </div>
                        }
                        <div class="flex flex-col items-center">
                            
                            <div class="inline-flex mt-2 xs:mt-0">
                                <button (click)="getLikes(likesResponse().previous)"
                                    class="flex items-center justify-center px-3 h-8 text-sm font-medium">
                                    &lt;
                                </button>
                                <span class="text-sm flex items-center text-gray-700 dark:text-gray-400">
                                    <span
                                        class="font-semibold text-gray-900">{{likesResponse().start_page}}-{{likesResponse().start_page
                                        + likesResponse().results.length}} of {{likesResponse().count}}</span>
                                </span>
                                <button (click)="getLikes(likesResponse().next)"
                                    class="flex items-center justify-center px-3 h-8 text-sm font-medium">
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                }

            </div>
            <p [routerLink]='"post/" + post().id'>{{post().comments}} Comments</p>
        </div>
        <div class="flex items-center gap-2" [hidden]="post().permission_level < 2">
            <button type='button' [class.text-green-500]="post().is_liked" [class.hover:text-gray-700]="post().is_liked"
                [class.text-gray-700]="!post().is_liked" [class.hover:text-green-500]="!post().is_liked"
                (click)="toggleLike()" class="w-10 h-10 font-medium rounded-full text-sm p-2.5 flex">
                <svg class="w-50" aria-hidden="true" fill="currentColor" viewBox="0 0 18 18">
                    <path
                        d="M3 7H1a1 1 0 0 0-1 1v8a2 2 0 0 0 4 0V8a1 1 0 0 0-1-1Zm12.954 0H12l1.558-4.5a1.778 1.778 0 0 0-3.331-1.06A24.859 24.859 0 0 1 6 6.8v9.586h.114C8.223 16.969 11.015 18 13.6 18c1.4 0 1.592-.526 1.88-1.317l2.354-7A2 2 0 0 0 15.954 7Z" />
                </svg>
                <span class="sr-only">Like post</span>
            </button>
            @if(!detail()){
                <button type='button' [routerLink]='"post/" + post().id'
                class=" text-gray-700 w-10 h-10 hover:text-green-300 font-medium rounded-full text-sm py-1 pl-1.5 pr-1">
                <svg version="1.1" viewBox="0 0 16.1 13.1" fill="CurrentColor">
                    <path
                        d="m7.8 0.1c-4.2 0-7.5 2.6-7.5 5.8 0 1.6 1.2 3.2 2.5 4.3-0.1 1.1-1.8 1.6-2.5 2.3 1.5 0 3.3-0.5 4.3-1.3 0.8 0.2 2.4 0.5 3.3 0.5 4.2 0 7.5-2.6 7.5-5.8s-3.4-5.8-7.6-5.8z" />
                </svg>
                <span class="sr-only">Comment post</span>
            </button>
            }
            
            <a [routerLink]="['/post/', post().id]" [hidden]="post().permission_level < 3" (click)="toggleEditingPost()"
                class="text-gray-700 bg-neutral-100 w-10 h-10 hover:text-green-500 font-medium rounded-full text-sm flex ">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    enable-background="new 0 0 64 64" id="Layer_1" version="1.1" viewBox="0 0 64 64"
                    fill="currentColor">
                    <g>
                        <path
                            d="M55.736,13.636l-4.368-4.362c-0.451-0.451-1.044-0.677-1.636-0.677c-0.592,0-1.184,0.225-1.635,0.676l-3.494,3.484   l7.639,7.626l3.494-3.483C56.639,15.998,56.639,14.535,55.736,13.636z" />
                        <polygon points="21.922,35.396 29.562,43.023 50.607,22.017 42.967,14.39  " />
                        <polygon points="20.273,37.028 18.642,46.28 27.913,44.654  " />
                        <path
                            d="M41.393,50.403H12.587V21.597h20.329l5.01-5H10.82c-1.779,0-3.234,1.455-3.234,3.234v32.339   c0,1.779,1.455,3.234,3.234,3.234h32.339c1.779,0,3.234-1.455,3.234-3.234V29.049l-5,4.991V50.403z" />
                    </g>
                </svg>
                <span class="sr-only">Edit post</span>
            </a>
            <button type='button' [hidden]="post().permission_level < 3" (click)="toggleDeleting()"
                class=" text-gray-700 w-10 h-10 hover:text-red-600 font-medium rounded-full text-sm py-1 pl-1.5 pr-1 ">
                <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <g data-name="Layer 17" id="Layer_17">
                        <path class="cls-1"
                            d="M24,31H8a3,3,0,0,1-3-3V9A1,1,0,0,1,7,9V28a1,1,0,0,0,1,1H24a1,1,0,0,0,1-1V9a1,1,0,0,1,2,0V28A3,3,0,0,1,24,31Z" />
                        <path class="cls-1" d="M28,7H4A1,1,0,0,1,4,5H28a1,1,0,0,1,0,2Z" />
                        <path class="cls-1"
                            d="M20,7a1,1,0,0,1-1-1V3H13V6a1,1,0,0,1-2,0V2a1,1,0,0,1,1-1h8a1,1,0,0,1,1,1V6A1,1,0,0,1,20,7Z" />
                        <path class="cls-1" d="M16,26a1,1,0,0,1-1-1V11a1,1,0,0,1,2,0V25A1,1,0,0,1,16,26Z" />
                        <path class="cls-1" d="M21,24a1,1,0,0,1-1-1V13a1,1,0,0,1,2,0V23A1,1,0,0,1,21,24Z" />
                        <path class="cls-1" d="M11,24a1,1,0,0,1-1-1V13a1,1,0,0,1,2,0V23A1,1,0,0,1,11,24Z" />
                    </g>
                </svg>
                <span class="sr-only">Delete post</span>
            </button>
        </div>
    </div>
    <hr />
</div>
<div [hidden]="!deleting()">
    <div class="fixed inset-0 flex items-center justify-center bg-black opacity-40 z-20"></div>
    <div class="fixed inset-0 flex items-center justify-center z-20">
        <div class="bg-white p-6 rounded-lg shadow-lg opacity-100">
            <h2 class="text-xl font-bold mb-4">¿Estás seguro de eliminar?</h2>
            <div class="flex justify-end gap-4">
                <button (click)="deletePost()" class="px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700">
                    Eliminar
                </button>
                <button (click)="toggleDeleting()"
                    class="px-4 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>