<div class="p-6">
<a class="p-6 text-blue-700 underline" routerLink="/">&lt; Back</a>
    @if(post().permission_level > 0) {
    <app-post [post]="post()" [detail]=true />
    @if(editing() !== post().id){

    <h2 class="text-3xl flex font-bold text-gray-900 justify-center">Comments</h2>
    @for(comment of commentsResponse().results; track comment) {
    <app-comment [comment]="comment" />
    }
    <div class="flex flex-col items-center">
        <div class="inline-flex mt-2">
            <button (click)="getComments(commentsResponse().previous)" [disabled]="!commentsResponse().previous"
                class="flex items-center justify-center text-sm font-medium p-3">
                &lt; </button>
            <span class="text-sm text-gray-700 items-center flex">
                <span
                    class="font-semibold text-gray-900 items-center">{{commentsResponse().start_page}}-{{commentsResponse().start_page
                    + commentsResponse().results.length}} of {{commentsResponse().count}}</span>
            </span>
            <button (click)="getComments(commentsResponse().next)" [disabled]="!commentsResponse().next"
                class="flex items-center justify-center text-sm font-medium p-3">
                >
            </button>
        </div>
    </div>
    @if(isloggedIn() ){
    <app-add-comment-form/>
    }
    } @else {
    <app-edit-post />
    }

    }@else{
    <div class="flex items-center justify-center">
        <h1 class="text-4xl font-extrabold text-gray-900">Post not found</h1>
    </div>
    }
</div>