<form (ngSubmit)="sendComment()" [formGroup]="addCommentForm" class="p-6">
  <label for="comment" class="block text-gray-700 text-sm font-bold mb-2">Comment:</label>

  <quill-editor
    id="comment-editor"
    formControlName="comment"
    theme="snow"
    [styles]="{ height: '200px' }"
    placeholder="Write your comment..."
  ></quill-editor>

  <div class="flex items-center justify-end mt-4">
    <button
      type="submit"
      [disabled]="addCommentForm.invalid || status() === 'loading'"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      @if (status() !== 'loading') {
        <span>Submit</span>
      }
      @if (status() === 'loading') {
        <span>Sending...</span>
      }
    </button>

    <button
      type="reset"
      (click)="resetForm()"
      class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-2"
    >
      Cancel
    </button>
  </div>
</form>
